<tbody>
{{#each tuples}}
  <tr>
    <td
     class="content-cell edit-tuple"
     data-index="{{@index}}"
     data-type="q"
     title="Edit Question"
    >
      {{{q}}}
    </td>
    <td>
      <button
       data-toggle="confirmation"
       data-popout="true"
       data-singleton="true"
       class="delete-tuple"
       type="button"
       class="btn"
       data-index="{{@index}}"
       title="Delete Pair"
      >
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
    </td>
    <td
     class="content-cell edit-tuple"
     data-index="{{@index}}"
     data-type="a"
     title="Edit Answer"
    >
      {{{a}}}
    </td>
  </tr>
{{/each}}
</tbody>
