{{#each tuples}}
  <div class="row">
    <div
     class="content-cell edit-tuple col-sm-5"
     data-index="{{@index}}"
     data-type="q"
     title="Edit Question"
    >
      {{{q}}}
    </div>
    <div clas="col-sm-2">
      <button
       data-toggle="confirmation"
       data-popout="true"
       data-singleton="true"
       class="delete-tuple btn"
       type="button"
       data-index="{{@index}}"
       title="Delete Pair"
      >
        <span class="glyphicon glyphicon-remove-sign"></span>
      </button>
      <br />
      <br />
      <button
       class="edit-tuple btn"
       type="button"
       data-type="p"
       data-index="{{@index}}"
       title="Edid predefined answer"
      >
        <span class="glyphicon glyphicon-list-alt"></span>
      </button>
    </div>
    <div
     class="content-cell edit-tuple col-sm-5"
     data-index="{{@index}}"
     data-type="a"
     title="Edit Answer"
    >
      {{{a}}}
    </div>
  </div>
{{/each}}
